*.jpg
*.json
*.pdf
*.png
*__pycache__/
*.py[cod]
*.pyc
*.txt
*.html
*.css
*.eot
*.pem
/home/leonardo-leads/Documents/galvanize_dsi/Fruits-and-Veggies-Nutrition-Facts/fv_app/static/fonts/glyphicons-halflings-regular.svg
*.ttf
*.woff
*.woff2
*.js
*.map
*.odp
*.sav
*.DS_Store
*.ipynb_checkpoints/
*.csv
*.xlsx
